/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');

/* Sections style */
@import url('./header.css');
@import url('./vite-promo.css');
@import url('./badges.css');
@import url('./back-link.css');
@import url('./footer.css');


.nav-list{
  margin-top: 120px;
}
.nav-item{
font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  color:#4e75ff;
}


.main-title{
  margin-bottom: 32px;
  margin-top: 36px;
}

.timer-block{
  display: flex;
  flex-direction: column;

}
.input-btn-block{
  display: flex;
  flex-direction: row;
  gap: 8px;
}
 input{
  border: 1px solid #808080;
  border-radius: 4px;
    width: 272px;
    height: 40px;
    background: #fff;
    
  
 }
 .text-input{
  font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #2e2f42;
    padding-left: 16px;
   
 }
.timer {
  display: flex;
  gap: 24px;
  margin-top: 20px;
  width: 346px;
  height: 72px;
}

.field {
  text-align: center;
}

.value {
font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
.label{
  font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #2e2f42;
}
.btn-start{
  border-radius: 8px;
    padding: 8px 16px;
    width: 75px;
    height: 40px;
    text-align: center;
    justify-content: baseline;
    font-family: "Montserrat", sans-serif;
      font-weight: 500;
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: 0.04em;
      color: #989898;
      background-color:#cfcfcf;
      border: none;
  
   
}
.btn-start:enabled {
  background-color:#4e75ff;
  color: #fff;
  cursor: pointer;
}
.btn-start:enabled:hover {
  background: #6c8cff;
  color: #fff;
}

.flatpickr-calendar{
  border-radius: 8px;
    padding: 16px;
    width: 280px;
    height: 352px;
    background: #f5f5f5;
}
.flatpickr-day {
  font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    color: #333;
}

.flatpickr-day.selected {
  border-radius: 50%;
    border: 1px solid #4e75ff;
    background-color:#f5f5f5;
    color: #333;
}
.flatpickr-day.hover {
  border-radius: 50%;
  border: 1px solid #c1c1c1 !important;
  color: #333 !important;
}

.snack{
  width: 1440px;
  height: 496px;
  background-color: #fff;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.name-delay {
  font-size: 16px;
  font-weight: 500;
  color: #555;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap:8px;
}
.delay-input{
  width: 362px;
  padding-left: 16px;
}
.state-form{
 width: 342px;
height: 66px;
border-radius: 4px;
border: 1px solid #808080;
text-align: start;
}
.radio-btn{
  border: 1px solid #757575;
  border-radius: 14px;
  width: 20px;
  height: 20px;
}
.radio-box{
  display: flex;
  flex-direction: row;
  justify-content:center;
  align-items: center;
gap:48px;
}
.btn-snack{
  border-radius: 8px;
    padding: 8px 16px;
    width: 362px;
    height: 40px;
    background: #4e75ff;
    color: #fff;
    text-align: center;
    border: none;
}